.git/
backup/
lib/
Doc/
DBF_L/
DBF_W/
Let_txt/
SQL_L/
WDTemp/
docs/
*.bdsproj
# кроме *.pas, *.dfm, *.dpr - все файлы игнорировать
*.cfg
*.dex
*.drc
*.gex
*.identcache 
*.local
*.res
*.msg
*.zip
*.bak
!dz_rubr.txt
/BD/ORIT.FDB
*.txt
/BIN/*.csl
/BIN/*.exe
/BIN/*.fbk
#Doc/*.sql
#Doc/*.pas
#Doc/*.xls
BIN/*.exe
/BIN/*.jdbg
/BIN/*.map
/BIN/*.tmp
/EPIKR_WIN.dsk
/*.~dsk
/Debug/*.dbg
